body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: lightgray;
}
.card {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}


.card-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

.card-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  background: #4e73df;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2e59d9;
}



.card {
  width: 450px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 15px;
  background: linear-gradient(135deg, #f80909, #7a5903);
  color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  font-family: cursive;
  border: 4px solid gold;
}


.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.main{
    width: 100%;
    margin: 0px;

    background: white;
    
}

.main nav{
    background: gray;
       
}
.main-text{
    background-color:lightgray;
  padding: 30px;


}
.main-text img{
    border-radius: 20px;
}
.main-text h2{
 font-size: 50px;
}
.services .card {
  transition: 0.3s;
}

.services .card:hover {
  transform: translateY(-10px);
}

#btn {
  display: block;
  width: 200px;
  margin: 20px auto;
}



